<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="ms-3"><i class="fa-solid fa-ticket fa-2xl"></i></div>
  <div>
    <%= link_to "Create a New List", new_list_path, class: 'btn btn-light' %>
    <%= link_to "My Lists", lists_path, class: 'btn btn-light' %>
  </div>
</nav>

<div class="banner bg-image" src='assets/images/downloaded.jpeg' alt='...'>
  <h1>All Lists</h1>
</div>

<div class="container">
<h3>My Lists</h3>
  <div class="row">
    <% @lists.each do |list| %>
    <div class="col-4">
      <div class="card-body">
        <div src='assets/images/downloaded.jpeg' class="bg-image" alt="..."></div>
        <h5 class="card-title"><%= link_to list.name, list_path(list) %></h5>
      </div>
    </div>
    <% end %>
  </div>
  <br>
  <%= link_to "Create a New List", new_list_path, class: 'btn btn-primary' %>
</div>
